{% extends 'base.html.twig' %}

{% block title %}crud{% endblock %}
{% block body %}
    {% if books %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th id="poo">Номын нэр</th>
                    <th>Үйлдэл</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>
                            <a href="/book/{{ book.id }}" class="btn btn-light">Харах</a>
                            <a href="/book/update/{{ book.id }}" class="btn btn-dark">Засах</a>
                            <a href="#" class="btn btn-danger" onclick="deleteBook({{ book.id }})">Устгах</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Өгөгдөл байхгүй</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> #}
    <script src="/js/main.js"></script>
{% endblock %}