{% extends 'base.html.twig' %}

{% block title %}{{ book.title }} засах{% endblock %}
{% block body %}
    <h1>{{ book.title }}</h1>
    <p>{{ book.author }}</p>
    <hr>
    <a href="/">Буцах</a>
{% endblock %}